@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    /* background: linear-gradient(141deg, #a9f8d6 0%, #a1e7f8 51%, #c2efff 75%)
    no-repeat center center/cover; */
    background-color: #f1f1f1;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
}

nav {
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 60px;
    width: 60px;
    background-color: #399f14;
}

.nav-links {
    list-style: none;
    width: 100%;
    text-align: center;
}

.nav-link {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-decoration: none;
    color: #f1f1f1;
    background-color: #399f14;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transform: translateY(-2000px);
    color: inherit;
    font-size: 1.5rem;
    transition: all 0.5s;
    opacity: 0;
    height: 100%;
    /*  */
}

.nav-link:hover {
    color: #399f14;
    background-color: #f4ff61;
}
.secondary-text-color {
    color: #3bad11;
    background-color: #f4ff61;
}
.nav-text-open {
    display: flex;
    transform: translate(0px, 0px);
    opacity: 1;
}


.nav-text-span {
    display: inline-block;
    vertical-align: middle;
}

.fas {
    flex-grow: 0;
    color: inherit;
    width: 60px;
    padding-top: 1rem;
    font-size: 2rem;
}

    /*.fas:hover {
        color: #3bad11;
        background-color: #f4ff61;
    }*/

#error {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    display: none;
    background-color: rgb(221, 73, 73);
    min-height: 5rem;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.form-container {
    align-items: center;
    justify-content:center;
}

.login-container {
    margin-top: 15%;
}

.register-container {
    margin-top: 2%;
}

.row {
    display: flex;
}

.input-group {
    flex: 1;
    margin: 0.5rem;
}

.register-button {
    cursor: pointer;
    margin-top: 1.8rem;
    margin-right: 0.5rem;
    min-height: 40px;
    height: 2.5rem;
    max-width: 18rem;
    min-width: 18rem;
    transition-duration: 0.7s;
    font-size: 1.2rem;
    flex: 1;
    outline: none;
    background-color: #399f14;
    color: whitesmoke;
}

    .register-button:hover {
        background-color: #f4ff61;
        color: black;
    }

.button-container {
    display: flex;
}

/*.line-height-fix {
    line-height: 28px;
}*/



.login {
    min-width: 24%;
}

.column {
    display: flex;
    flex-flow: column;
}
#login-form{
    max-width:24%;
}
.login-button {
    cursor: pointer;
    outline: none;
    transition-duration: 0.7s;
    font-size: 1.3rem;
    flex: 1;
    margin: auto;
    margin-top: 1rem;
    height: 2.7rem;
    max-width: 15rem;
    background-color: #399f14;
    color: whitesmoke;
    border: 1px rgba(83, 255, 83, 0.671) solid;
    border-radius: 1rem;
}

    .login-button:hover {
        background-color: #f4ff61;
        color: black;
    }
.align{
    justify-content:center;
    align-items:center;
}
.register-input {
    cursor: text;
    outline: none;
    transition-duration: 0.7s;
    flex: 1;
    min-height: 40px;
    height: 2.5rem;
    min-width: 17rem;
    width: 17rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

    .register-input:hover {
        /*background: linear-gradient(141deg, #fcffcd 0%, #bce4ae 75%);*/
    }

.register-label {
    flex: 1;
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

.login-label {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.25rem;
}

.corners {
    border-radius: 6px;
    border: 1px rgb(175, 212, 184) solid;
}

.pointer:hover {
    cursor: pointer;
}

.redstar {
    color: red;
    font-size: 1rem;
}

.black-screen {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.success-declaration {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-form {
    z-index: 2;
    width: 30rem;
    height: 10rem;
    border-radius: 30px;
    box-shadow: 10px 15px 30px black;
    background-color: #f1f1f1;
}

.information {
    flex: 2.1;
    display: flex;
    font-size: 1.7rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: black;
    background-color: #f4ff61;
    justify-content: center;
    align-items: center;
}

.confirm {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: 30px;
    background-color: #f4ff61;
}

#submit-declaration {
    display: flex;
    justify-content: center;
    background-color: #399f14;
    outline: none;
    border-top-left-radius: 30px;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 30%;
    font-size: 1.6rem;
    transition-duration: 1s;
}

    #submit-declaration:hover {
        cursor: pointer;
        background-color: #3bad11;
    }

@media only screen and (max-width: 640px) {
    .row {
        flex-flow: column;
    }

    .button-container {
        margin-top: 0;
        align-items: center;
    }
}
