
@{
    ViewData["Title"] = "Appointment";
}

<main>
    <h2>Appointment</h2>
    <div class="app-time-choose-container">
        <table class="app-time-choose-table">
            <thead>
                <tr>
                    <th id="data1">Понеділок</th>
                    <th id="data2">Вівторок</th>
                    <th id="data3">Середа</th>
                    <th id="data4">Четвер</th>
                    <th id="data5">П'ятниця</th>
                    <th id="data6">Субота</th>
                    <th id="data7">Неділя</th>
                </tr>
            </thead>
            <tbody id="app-time-choose-body">
                <tr>
                    <td>9:00</td>
                    <td>9:00</td>
                    <td>9:00</td>
                    <td>9:00</td>
                    <td>9:00</td>
                    <td>9:00</td>
                    <td>9:00</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>10:00</td>
                    <td>10:00</td>
                    <td>10:00</td>
                    <td>10:00</td>
                    <td>10:00</td>
                    <td>10:00</td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                    <td>11:00</td>
                </tr>
                
                <tr>
                    <td>14:00</td>
                    <td>14:00</td>
                    <td>14:00</td>
                    <td>14:00</td>
                    <td>14:00</td>
                    <td>14:00</td>
                    <td>14:00</td>
                </tr>

            </tbody>
        </table>
    </div>
</main>
<script src="../js/appointment.js"></script>

