
@{
    ViewData["Title"] = "Index";
}

<header>
    <img src="~/images/header-pic.png" alt="Header" class="header-img" />
    <h1>Головна сторінка</h1>
</header>
<main>
    <section class="login-system">
        <a href="Users/Login" class="a-link login-onhover">Увійти в систему</a>
        <div class="register-links">
            <a href="Users/ChooseDoctor" class="a-link declaration-reg">Зареєструвати декларацію</a>
            <a href="" class="a-link med-reg">Зареєструвати медичний заклад</a>
        </div>
    </section>
    <section class="news-list">
        <div class="news-section">
            <div class="news-text">
                <h3>ПРОФІЛАКТИКА</h3>
                <p class="text">
                    11 травня українці зможуть безоплатно перевірити здоров’я ясен у
                    понад 300 клініках
                </p>
                <p class="time">07.05.2018</p>
                <a href="" class="read-more">Читати далі..>>></a>
            </div>
            <img src="~/images/Health.png" alt="" class="news-image" />
        </div>
    </section>
</main>

