@model TestLogin.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@*@section Scripts
    {
        <script src="@Url.Content("~/js/loginValidation.js")"></script>
        <script src="@Url.Content("~/js/~/js/http.js")"></script>
    }*@

@*<h2>Login</h2>
    <div id="error"></div>
    <form method="post" asp-controller="Users">
        <label for="input-login">Login:</label>
        <input type="text" name="userName" id="input-login" />
        <label for="input-password">Password:</label>
        <input type="password" name="password" id="input-password" />
        <button type="submit" id="submit">Push me</button>
    </form>
    <script src="~/js/site.js"></script>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/registration.css" />
    <title>Document</title>
</head>
<body>
    <div class="form-container login-container column">
        <form id="login-form" asp-controller="Users" asp-action="Login">
            <div id="error"></div>
            <div class="column align">
                <label for="login" class="login-label">Ваш логін</label>
                <input type="text"
                       name="username"
                       id="login"
                       class="register-input corners" />
                <label for="password" class="login-label">Пароль</label>
                <input type="password"
                       name="password"
                       id="password"
                       class="register-input corners" />
            </div>
            <div class="button-container">
                <button type="submit" class="login-button line-height-fix" id="login-btn">
                    Логін
                </button>
            </div>
        </form>
    </div>
    @*<div>
            @Html.DisplayFor(model => model.Password)
        </div>*@
    <script src="~/js/loginValidation.js"></script>
    <script src="~/js/http.js"></script>
</body>
</html>